.album-thumbnail__teaser {
  padding: 1rem;
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  transform: translateY(-50%);
  color: $color-white;
  text-shadow: 0 3px 3px $color-black;
  transition: all 0.2s ease;
  border-radius: 10%;

  &:hover {
    transform: translateY(-51%);
    text-shadow: 0 4px 4px $color-black;
  }
  &--heading {
    font-size: 7rem;
    font-weight: 600;
  }
  &--subheading {
    font-size: 3rem;
    font-weight: 500;
  }
}
