.icon {
  cursor: pointer;
  text-shadow: 0 2px 5px rgba($color-black, $box-shadow-overlay-transparency);
  transition: all 0.1s ease-out;

  &:hover {
    transform: translateY(-2px);
    text-shadow: 0 3px 6px $color-black;
  }

  &:active {
    transform: translateY(1px);
  }
}
