.info {
  background-color: $text-overlay-background;
  color: $color-white;
  padding: 1.2rem 2rem 2rem 2rem;
  z-index: 2;
  position: absolute;
  bottom: 0;
  width: 100%;
  animation: slideUp 2s ease-out;

  &__details {
    margin: 0.5rem 0;
    font-size: 1.5rem;
    color: $color-light-gray;
  }

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.5rem;
    &--title {
      text-shadow: 0.1rem 0.2rem 1rem $color-black;
      font-size: 3rem;
      line-height: 1;
    }
  }

  &__album-tags {
    margin: 0.5rem 1rem 1rem 0;
    font-size: 1.5rem;
    display: inline-block;

    &--link {
      text-decoration: none;
      padding: 3px;
      border-radius: 4px;
      border: 1px solid $color-white;
      color: $color-white;
      transition: all 0.2s ease;
      &:hover,
      &:active {
        background-color: $color-white;
        color: $color-black;
      }
    }
  }
}
