.photo-viewer {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(#111, 0.96);

  // &__close {
  //   position: absolute;
  //   bottom: 0;
  //   right: 0;
  // }

  &__scroll {
    color: $color-white;
    position: absolute;
    cursor: pointer;
    z-index: 2;
    font-size: 4rem;
    text-shadow: 0 0.5rem 0.8rem rgba($color-black, 0.8);
    padding: 50vh 2rem;
    transition: all 0.2s ease;

    &--left {
      left: 0;
      padding-right: 4rem;
    }
    &--right {
      right: 0;
      padding-left: 4rem;
    }
    &:hover {
      transform: translateY(-2px);
      color: #fff;
      text-shadow: 0 0.6rem 1.2rem rgba($color-black, 0.8);
    }
    &:active {
      transform: translateY(2px);
    }
  }
  &__top {
    display: flex;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &__icon {
    color: $color-white;
    font-size: 2.4rem;
    @include respond(tab-port) {
      font-size: 3rem;
    }
    z-index: 3;
    padding: 2rem;
    display: inline-block;
    line-height: 1;
    &--count {
      margin-right: auto;
    }
    &--info {
    }
    &--hide {
      padding: 1rem;
    }
  }
}
