.page-hero-image {
  height: 30vh;
  @include respond(phone) {
    height: 20vh;
  }
  background-position: top;
}

.page-heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba($color-white, 0.75);
  font-size: 8rem;
  font-weight: 400;
  text-shadow: 0 5px 5px $color-black;
}

.text-header {
  background-image: linear-gradient(
    to bottom,
    $secondary-background,
    $primary-background
  );
  line-height: 1.5;
  font-size: 2rem;
  padding: 4rem 2rem;
  margin: 0 auto;
}
