.navbar {
  position: fixed;
  z-index: 100;
  top: 0px;
  padding: 1rem 2rem 0 1.5rem;
  width: 100%;

  &--opened {
    background-color: $text-overlay-background;
  }

  &__top {
    display: flex;
    justify-content: space-between;

    &--icon {
      font-size: 3.5rem;
      cursor: pointer;
      color: $color-white;
      transition: all 0.2s ease;
        text-shadow: 0 1px 3px $color-black;
      &:hover {
        transform: translateY(-2px);
        color: #fff;
        text-shadow: 0 2px 4px $color-black;
      }
    }
  }

  &__menu {
    overflow-y: hidden;
    animation: slideUp 1s ease-out;
    display: flex;
    flex-flow: row wrap;
    padding: 1rem 0;

    &--item {
      display: inline-block;
      width: 50%;
      padding: 0.5em 0.5em 0.5em 0;
      border-bottom: solid white 1px;
    }

    &--link {
      color: $color-white;
      font-size: 4rem;
      text-decoration: none;
      transition: all 0.1s ease-out;
      &:hover {
        font-weight: 500;
        text-shadow: 0rem 1rem 1rem $color-black;
      }
    }
  }
}