// @charset "utf-8";

// If need, change your variables before importing Bulma

@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --secondary-background: #181818;
  --primary-background: #111111;
  --text-overlay-background: rgba(0, 0, 0, 0.8);
  --text-overlay-background-hover: rgba(0, 0, 0, 0.9);
  --text-color-solid: #ccc;
  --content-max-width: 1400px;
}

.text-container {
  padding: 5rem 1em 3rem 1em;
  max-width: 1000px;
  margin: 0 auto;
  color: var(--text-color-solid);
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
button {
  font-family: "Raleway", sans-serif;
}

.Card {
  background-color: var(--primary-background);
  // padding-bottom: 1em;
  width: 100%;
}

.text-overlay {
  background-color: var(--text-overlay-background);
}

#App {
  background-color: var(--primary-background);
}

// @import "~bulma/bulma.sass";
